<!DOCTYPE html>
<html lang="zh-cn">
<head>
		<meta charset="UTF-8">
		<title>新增表格</title>
		<link rel="stylesheet" href="__LIB__/layui/css/layui.css?v=2.8.12"/>
		<link rel="stylesheet" href="__LIB__/pear/css/pear.css"/>
		<link rel="stylesheet" href="__ADMIN__/css/reset.css"/>
</head>
<body>
<style>
    .mainBox {
        width: auto !important;
    }

    .layui-tab .layui-table-cell {
        overflow: visible !important;
    }

    .layui-table-body, .layui-table-box {
        overflow: visible !important;
    }

    .layui-tab .layui-form-select dl {
        max-height: 190px;
    }

    .layui-table-body .layui-table-col-special:last-child {
        width: 100% !important;
        border-right: 1px solid #eee !important;
    }

    .layui-table-view {
        min-width: 1114px;
    }

    xm-select {
        min-height: 38px;
        line-height: 38px;
    }

    xm-select .xm-body .xm-option .xm-option-icon {
        font-size: 18px !important;
    }
</style>

<form class="layui-form" action="" lay-filter="create-table-form">

		<div class="mainBox">
				<div class="main-container">

						<div class="layui-form-item">
								<div class="layui-inline">
										<label class="layui-form-label required">表名</label>
										<div class="layui-input-inline">
												<input type="text" name="table" required lay-verify="required" autocomplete="off"
												       class="layui-input">
										</div>
										<label class="layui-form-label required"> 注释</label>
										<div class="layui-input-inline">
												<input type="text" name="table_comment" required lay-verify="required" autocomplete="off"
												       class="layui-input">
										</div>
										<label class="layui-form-label required">字符集</label>
										<div class="layui-input-inline">
												<div name="table_charset" id="tableCharset" value="utf8mb4"></div>
										</div>
										<label class="layui-form-label required">排序规则</label>
										<div class="layui-input-inline">
												<div name="table_collation" id="tableCollation" value=""></div>
										</div>
										<label class="layui-form-label required">引擎</label>
										<div class="layui-input-inline">
												<div name="table_engine" id="tableEngine" value="InnoDB"></div>
										</div>
								</div>
						</div>

						<div class="layui-tab layui-tab-brief" lay-filter="create-table-tab">
								<ul class="layui-tab-title">
										<li class="layui-this">字段属性</li>
										<li>索引</li>
								</ul>
								<div class="layui-tab-content">

										<div class="layui-tab-item layui-show">

												<!-- 字段属性 -->
												<table id="column-table" lay-filter="column-table"></table>

												<script type="text/html" id="column-toolbar">
														<button type="button" class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
																<i class="layui-icon layui-icon-add-1"></i>新增
														</button>
														<button type="button" class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
																<i class="layui-icon layui-icon-delete"></i>删除
														</button>
												</script>

												<script type="text/html" id="col-field">
														<input type="text" name="columns[{{ d.LAY_NUM-1 }}][field]" placeholder="字段名称"
														       autocomplete="off" class="layui-input" value="{{ d.field }}">
														<input type="hidden" name="columns[{{ d.LAY_NUM-1 }}][_field_id]" value="{{ d._field_id }}">
												</script>

												<script type="text/html" id="col-comment">
														<input type="text" name="columns[{{ d.LAY_NUM-1 }}][comment]" placeholder="备注"
														       autocomplete="off" class="layui-input" value="{{ d.comment }}">
												</script>

												<script type="text/html" id="col-length">
														<input type="text" name="columns[{{ d.LAY_NUM-1 }}][length]" placeholder="长度/值"
														       autocomplete="off" class="layui-input" value="{{ d.length }}">
												</script>

												<script type="text/html" id="col-default">
														<input type="text" name="columns[{{ d.LAY_NUM-1 }}][default]" placeholder="默认值"
														       autocomplete="off" class="layui-input" value="{{ d.default }}">
												</script>

												<script type="text/html" id="col-type">
														<select name="columns[{{ d.LAY_NUM-1 }}][type]" lay-verify="">
																{{#
																layui.each(["integer","string","text","date","enum","float","tinyInteger","smallInteger","mediumInteger","bigInteger","unsignedInteger","unsignedTinyInteger","unsignedSmallInteger","unsignedMediumInteger","unsignedBigInteger","decimal","double","mediumText","longText","dateTime","time","timestamp","char","binary","json"],
																function (index, item) { }}
																<option value="{{ item }}" {{ d.type==item?"selected":""}}>{{ item }}</option>
																{{# }); }}
														</select>
												</script>

												<script type="text/html" id="col-primary_key">
														<input type="checkbox" name="columns[{{ d.LAY_NUM-1 }}][primary_key]" autocomplete="off"
														       class="layui-input" lay-skin="primary" {{ d.primary_key ? 'checked' : '' }}>
												</script>

												<script type="text/html" id="col-auto_increment">
														<input type="checkbox" name="columns[{{ d.LAY_NUM-1 }}][auto_increment]" autocomplete="off"
														       class="layui-input" lay-skin="primary" {{ d.auto_increment ? 'checked' : '' }}>
												</script>

												<script type="text/html" id="col-nullable">
														<input type="checkbox" name="columns[{{ d.LAY_NUM-1 }}][nullable]" autocomplete="off"
														       class="layui-input" lay-skin="primary" {{ d.nullable ? 'checked' : '' }}>
												</script>

										</div>

										<!-- 索引 -->
										<div class="layui-tab-item">
												<div class="layui-tab-item layui-show">

														<table id="key-table" lay-filter="key-table"></table>

														<script type="text/html" id="key-name">
																<input type="text" name="keys[{{ d.LAY_NUM-1 }}][name]" placeholder="字段名称"
																       autocomplete="off" class="layui-input" value="{{ d.name }}">
														</script>

														<script type="text/html" id="key-columns">
																<div name="keys[{{ d.LAY_NUM-1 }}][columns]" class="key-columns-div"
																     value="{{ d.columns }}"></div>
														</script>

														<script type="text/html" id="key-type">
																<select name="keys[{{ d.LAY_NUM-1 }}][type]" lay-verify="">
																		{{# layui.each(["normal", "unique"], function (index, item) { }}
																		<option value="{{ item }}" {{ d.type==item?'selected':''}}>{{ item }}</option>
																		{{# }); }}
																</select>
														</script>

												</div>
										</div>

								</div>
						</div>


				</div>
		</div>

		<div class="bottom">
				<div class="button-container">
						<button type="submit" class="pear-btn pear-btn-primary pear-btn-md" lay-submit=""
						        lay-filter="save">
								提交
						</button>
						<button type="reset" class="pear-btn pear-btn-md">
								重置
						</button>
				</div>
		</div>
</form>

<script src="__LIB__/layui/layui.js?v=2.8.12"></script>
<script src="__LIB__/pear/pear.js"></script>
<script src="__ADMIN__/js/permission.js"></script>
<script>

    const CREATE_API = "/admin/core/table/create";

    const CHARSET = [
        {
            name: "utf8mb4",
            value: "utf8mb4",
            collation: [
                {name: "utf8mb4_general_ci", value: "utf8mb4_general_ci"},
                {name: "utf8mb4_unicode_ci", value: "utf8mb4_unicode_ci"},
                {name: "utf8mb4_0900_ai_ci", value: "utf8mb4_0900_ai_ci"},
                {name: "utf8mb4_bin", value: "utf8mb4_bin"},
            ]
        },
        {
            name: "utf8mb3",
            value: "utf8mb3",
            collation: [
                {name: "utf8mb3_general_ci", value: "utf8mb3_general_ci"},
                {name: "utf8mb3_unicode_ci", value: "utf8mb3_unicode_ci"},
                {name: "utf8mb3_bin", value: "utf8mb3_bin"},
            ]
        },
        {
            name: "gb2312",
            value: "gb2312",
            collation: [
                {name: "gb2312_chinese_ci", value: "gb2312_chinese_ci"},
                {name: "gb2312_bin", value: "gb2312_bin"},
            ]
        },
        {
            name: "gbk",
            value: "gbk",
            collation: [
                {name: "gbk_chinese_ci", value: "gbk_chinese_ci"},
                {name: "gbk_bin", value: "gbk_bin"},
            ]
        },
        {
            name: "ascii",
            value: "ascii",
            collation: [
                {name: "ascii_general_ci", value: "ascii_general_ci"},
                {name: "ascii_bin", value: "ascii_bin"},
            ]
        }
    ]

    function getCollation(charset) {
        return CHARSET.find(function (item) {
            return item.value === charset;
        })?.collation;
    }

    // 字符集下拉列表和排序规则下拉列表
    layui.use(["jquery", "xmSelect"], function () {
        let charset = layui.$("#tableCharset").attr("value");
        let charsetValue = charset ? charset.split(",") : [];
        let collationXs = layui.xmSelect.render({
            el: "#tableCollation",
            name: "table_collation",
            model: {"icon": "hidden", "label": {"type": "text"}},
            clickClose: true,
            filterable: true,
            create: function (val, arr) {
                if (arr.length === 0) {
                    return {
                        name: val,
                        value: val
                    }
                }
            },
            radio: true,
            layVerify: "required"
        })
        collationXs.update({
            data: getCollation("utf8mb4"),
            initValue: ["utf8mb4_general_ci"],
        })
        layui.xmSelect.render({
            el: "#tableCharset",
            name: "table_charset",
            initValue: charsetValue,
            data: CHARSET,
            model: {"icon": "hidden", "label": {"type": "text"}},
            clickClose: true,
            filterable: true,
            create: function (val, arr) {
                if (arr.length === 0) {
                    return {
                        name: val,
                        value: val
                    }
                }
            },
            radio: true,
            layVerify: "required",
            on: function (data) {
                let collationValue = [];
                collationValue = getCollation(data.arr[0]?.value) ? getCollation(data.arr[0]?.value) : [];
                collationXs.update({
                    data: collationValue
                })
            },
        })
    });
    // 引擎下拉列表
    layui.use(["jquery", "xmSelect"], function () {
        let value = layui.$("#tableEngine").attr("value");
        let initValue = value ? value.split(",") : [];
        layui.xmSelect.render({
            el: "#tableEngine",
            name: "table_engine",
            initValue: initValue,
            data: [
                {"value": "InnoDB", "name": "InnoDB"},
                {"value": "MyISAM", "name": "MyISAM"},
                {"value": "MEMORY", "name": "MEMORY"}
            ],
            value: "InnoDB",
            model: {"icon": "hidden", "label": {"type": "text"}},
            clickClose: true,
            radio: true,
        })
    });

    // 字段设置
    layui.use(["table", "common", "popup"], function () {

        let table = layui.table;
        let common = layui.common;
        let cols = [
            {type: "checkbox", width: 50,},
            {title: "字段名称", field: "field", templet: "#col-field", width: 182},
            {title: "字段备注", field: "comment", templet: "#col-comment",},
            {title: "长度/值", field: "length", templet: "#col-length", width: 182},
            {title: "默认值", field: "default", templet: "#col-default",},
            {title: "字段类型", field: "type", templet: "#col-type", width: 220},
            {title: "主键", field: "primary_key", templet: "#col-primary_key", width: 50, align: "center",},
            {title: "自增", field: "auto_increment", templet: "#col-auto_increment", width: 50, align: "center",},
            {title: "为空", field: "nullable", templet: "#col-nullable", width: 50, align: "center",},
            {type: "space"}
        ];

        window._field_id = 0;
        let data = [{
            _field_id: _field_id++,
            field: "id",
            comment: "主键",
            length: 11,
            default: "",
            type: "integer",
            primary_key: true,
            auto_increment: true,
            nullable: false,
        }, {
            _field_id: _field_id++,
            field: "create_at",
            comment: "创建时间",
            length: "",
            default: "CURRENT_TIMESTAMP",
            type: "dateTime",
            primary_key: false,
            auto_increment: false,
            nullable: false,
        }, {
            _field_id: _field_id++,
            field: "update_at",
            comment: "更新时间",
            length: "",
            default: "CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP",
            type: "dateTime",
            primary_key: false,
            auto_increment: false,
            nullable: false,
        }, {
            _field_id: _field_id++,
            field: "delete_at",
            comment: "软删除",
            length: "",
            default: "0",
            type: "bigInteger",
            primary_key: false,
            auto_increment: false,
            nullable: false,
        }, {
            _field_id: _field_id++,
            field: "test",
            comment: "自定义含有默认值的不为空字段（可删除）",
            length: "128",
            default: "''",
            type: "string",
            primary_key: false,
            auto_increment: false,
            nullable: false,
        }];

        table.render({
            elem: "#column-table",
            cols: [cols],
            data: data,
            cellMinWidth: 40,
            skin: "line",
            size: "lg",
            limit: 10000,
            page: false,
            toolbar: "#column-toolbar",
            defaultToolbar: [],
        });

        table.on("toolbar(column-table)", function (obj) {
            if (obj.event === "add") {
                add();
            } else if (obj.event === "batchRemove") {
                batchRemove(obj);
            }
        });

        let add = function () {
            syncTableData();
            let options = table.getData("column-table");
            options.push({
                _field_id: _field_id++,
                field: "",
                comment: "",
                length: "",
                default: "",
                type: "integer",
                primary_key: false,
                auto_increment: false,
                nullable: true,
            });
            table.reloadData("column-table", {data: options});
        }

        let batchRemove = function (obj) {
            var checkIds = common.checkField(obj, "_field_id");
            if (checkIds === "") return layui.popup.warning("未选中数据");
            let data = table.getData("column-table");
            let newData = [];
            let deleteIds = checkIds.split(",");
            layui.each(data, function (index, item) {
                if (deleteIds.indexOf(item._field_id + "") === -1) {
                    newData.push(item);
                }
            });
            table.reloadData("column-table", {data: newData})
        }


    });

    // 索引设置
    layui.use(["table", "common", "xmSelect", "popup"], function () {
        let table = layui.table;
        let common = layui.common;

        let cols = [
            {type: "checkbox", width: 52,},
            {title: "索引名称", field: "name", templet: "#key-name", width: 200,},
            {title: "索引字段", field: "columns", templet: "#key-columns", width: 200,},
            {title: "索引类型", field: "type", templet: "#key-type", width: 200,},
            {type: "space"}
        ];

        window._key_id = 0;
        let data = [{
            _key_id: _key_id++,
            name: "",
            columns: "",
            type: "normal"
        }];

        table.render({
            elem: "#key-table",
            cols: [cols],
            data: data,
            skin: "line",
            size: "lg",
            limit: 10000,
            page: false,
            toolbar: "#column-toolbar",
            defaultToolbar: [],
        });

        table.on("toolbar(key-table)", function (obj) {
            if (obj.event === "add") {
                add();
            } else if (obj.event === "batchRemove") {
                batchRemove(obj);
            }
        });

        let add = function () {
            syncTableData();
            let options = table.getData("key-table");
            options.push({
                _key_id: _key_id++,
                name: "",
                columns: "",
                type: "normal"
            });
            table.reloadData("key-table", {data: options});
            keyColumnMultiSelectRender();
        }

        let batchRemove = function (obj) {
            var checkIds = common.checkField(obj, "_key_id");
            if (checkIds === "") return layui.popup.warning("未选中数据");
            let data = table.getData("key-table");
            let newData = [];
            let deleteIds = checkIds.split(",");
            layui.each(data, function (index, item) {
                if (deleteIds.indexOf(item._key_id + "") === -1) {
                    newData.push(item);
                }
            });
            table.reloadData("key-table", {data: newData});
            keyColumnMultiSelectRender();
        }

        window.syncTableData = function () {

            let tableData = layui.form.val("create-table-form");
            let columnTableData = [];
            let keyTableData = [];

            let len = Object.keys(tableData).length;
            let id = 0;
            window._key_id = 0;
            while (id < len) {
                // column data
                if (typeof tableData["columns[" + id + "][_field_id]"] !== "undefined") {
                    columnTableData.push({
                        _field_id: tableData["columns[" + id + "][_field_id]"],
                        field: tableData["columns[" + id + "][field]"],
                        comment: tableData["columns[" + id + "][comment]"],
                        length: tableData["columns[" + id + "][length]"],
                        default: tableData["columns[" + id + "][default]"],
                        type: tableData["columns[" + id + "][type]"],
                        primary_key: tableData["columns[" + id + "][primary_key]"] === "on",
                        auto_increment: tableData["columns[" + id + "][auto_increment]"] === "on",
                        nullable: tableData["columns[" + id + "][nullable]"] === "on",
                    });
                }
                // key data
                if (typeof tableData["keys[" + _key_id + "][name]"] !== "undefined") {
                    keyTableData.push({
                        _key_id: _key_id,
                        name: tableData["keys[" + _key_id + "][name]"],
                        columns: tableData["keys[" + _key_id + "][columns]"],
                        type: tableData["keys[" + _key_id + "][type]"],
                    });
                }
                _key_id++;
                id++;
            }

            layui.table.reloadData("column-table", {data: columnTableData});
            layui.table.reloadData("key-table", {data: keyTableData});
            keyColumnMultiSelectRender();
        }

        window.keyColumnMultiSelectRender = function () {
            layui.use(["jquery", "xmSelect", "table"], function () {
                let $ = layui.$;
                let table = layui.table;
                let columnData = table.getData("column-table");
                let data = [];
                layui.each(columnData, function (i, item) {
                    if (item.field) {
                        data.push({
                            name: item.field, value: item.field
                        });
                    }
                });
                layui.each($(".key-columns-div"), function (_, dom) {
                    let name = $(dom).attr("name");
                    let value = $(dom).attr("value");
                    let initValue = value ? value.split(",") : [];
                    layui.xmSelect.render({
                        el: dom,
                        name: name,
                        initValue: initValue,
                        data: data,
                    })
                });

            });
        }

        keyColumnMultiSelectRender();
    });

    layui.use(["form", "popup", "responseCode"], function () {
        //提交事件
        layui.form.on("submit(save)", function () {
            syncTableData();
            let data = layui.form.val("create-table-form");
            let loading = layer.load();
            layui.$.ajax({
                url: CREATE_API,
                type: "POST",
                dateType: "json",
                data: data,
                success: function (res) {
                    layer.close(loading);
                    if (res.code !== layui.responseCode.SUCCESS) {
                        return layui.popup.failure(res.message);
                    }
                    return layui.popup.success("操作成功", function () {
                        parent.refreshTable();
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                    });
                }
            });
            return false;
        });
    });

</script>

</body>
</html>
